<% layout("/layouts/boilerplate.ejs") %>

<style>
  #filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .filter {
    margin-right: 2rem;
    margin-top: 2rem;
    text-align: center;
    opacity: 0.7;
  }

  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }

  .filter p {
    font-size: 0.8rem;
  }

  .tax-info {
    display: none;
  }

  .tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  .listing-link {
    text-decoration: none;
    color: inherit;
  }
</style>

<div id="filters">
  <div class="filter"><i class="fa-solid fa-fire"></i><p>Trending</p></div>
  <div class="filter"><i class="fa-solid fa-bed"></i><p>Rooms</p></div>
  <div class="filter"><i class="fa-solid fa-mountain-city"></i><p>Iconic Cities</p></div>
  <div class="filter"><i class="fa-solid fa-mountain"></i><p>Mountains</p></div>
  <div class="filter"><i class="fa-brands fa-fort-awesome"></i><p>Castles</p></div>
  <div class="filter"><i class="fa-solid fa-person-swimming"></i><p>Amazing Pool</p></div>
  <div class="filter"><i class="fa-solid fa-cow"></i><p>Farms</p></div>
  <div class="filter"><i class="fa-solid fa-tents"></i><p>Camping</p></div>
  <div class="filter"><i class="fa-solid fa-snowflake"></i><p>Arctic</p></div>

  <div class="tax-toggle">
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        id="switchCheckDefault"
      />
      <label class="form-check-label" for="switchCheckDefault">
        Display total before taxes
      </label>
    </div>
  </div>
</div>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
  <% for(let listing of allListings) { %>

    <div class="col">
      <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="card listing-card">
          <img
            src="<%= listing.image.url %>"
            class="card-img-top"
            alt="listing_image"
            style="height: 20rem"
          />
          <div class="card-body">
            <p class="card-text">
              <b><%= listing.title %></b><br />
              ₹ <%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %> / night
              <span class="tax-info"> +18% GST </span>
            </p>
          </div>
        </div>
      </a>
    </div>

  <% } %>
</div>

<script>
  const taxSwitch = document.getElementById("switchCheckDefault");

  if (taxSwitch) {
    taxSwitch.addEventListener("click", () => {
      const taxInfo = document.getElementsByClassName("tax-info");

      for (let info of taxInfo) {
        info.style.display =
          info.style.display !== "inline" ? "inline" : "none";
      }
    });
  }
</script>