<% layout("/layouts/boilerplate") -%>

<body>
        <div class="row mt-4 ">
            <div class="col-8 offset-2">
                <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                        <h2>Create new Listing</h2>
                        <br>
                        <div class="mb-3" >
                            <label for="title" class="form-label">Title : </label>
                            <input type="text" id="title" name="listing[title]" placeholder="Enter title"  class="form-control" required>
                            <div class="valid-feedback">Title Looks good!</div>
                            <div class="invalid-feedback">Title should be vaild!</div>
                        </div>
                
                    <div class="mb-3">
                        <label for="desc" class="form-label">Description : </label>
                        <textarea name="listing[description]" id="desc" class="form-control" rows="3" placeholder="Enter description" required></textarea>
                        <!-- <input type="textarea" id="desc" name="listing[description] " placeholder="Enter description" class="form-control" required> -->
                        <div class="valid-feedback">Description Looks good!</div>
                        <div class="invalid-feedback">Description should be vaild!</div>
                    </div>
                
                    
                    <div class="mb-3">
                        <label for="img" class="form-label">Upload Listing Image : </label>
                        <input type="file" id="img" name="image" class="form-control" required>
                    </div>
                    
                    
                    
                    <div class="row">

                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price : </label>
                            <input  id="price" name="listing[price]" placeholder="Enter Price" class="form-control" required>  
                            <div class="invalid-feedback">Price should be vaild!</div>
                        </div>

                        
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country : </label>
                            <input type="text" id="country" name="listing[country]" placeholder="Enter Country" class="form-control"required>
                            <div class="invalid-feedback">Country should be vaild!</div>
                        </div>

                    </div>

                    <div class="mb-3 " >
                        <label for="location" class="form-label">Location : </label>
                        <input type="text" id="location" name="listing[location]" placeholder="Enter location" class="form-control" required>
                        <div class="invalid-feedback">Location should be vaild!</div>
                    </div>
        
                    <button class="btn btn-dark add-btn mt-3">Add</button>
                    <br><br><br>
            
                </form>
            </div>
        </div>

   
</body>